.contenedorProducto {
    display: flex;
    align-items: center;
    width: max-content;
    border: 3px inset lightblue;
    border-radius: 4px;
    padding: 2rem;
    padding-right: 5rem;
    height: 60vh;
    gap: 3rem;
    margin-top: 3rem;
    background-color: rgb(224, 241, 246);
}

.contenedorProducto img {
    width: 20rem;
    height: 20rem;
}

.contenedorProducto div {
    text-align: center;
}

.contenedorProducto div h1 {
    text-align: center;
}
.addCartButton{
    margin-top: 1rem;
    color: #e0f4f3;
}
.addCartButton:hover{
    color: #687b95;
}