.contenedorProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 3rem;
    margin-top: 3rem;
}

.contenedorProducto img {
    width: 20rem;
    height: 20rem;
}

.contenedorProducto div {
    text-align: center;
}

.contenedorProducto div h1 {
    text-align: center;
}
.addCartButton{
    margin-top: 1rem;
    color: #e0f4f3;
}
.addCartButton:hover{
    color: #687b95;
}