.cart {
    max-width: 100%;
    display: grid;
    margin: .5rem;
}

.cart thead,
.cart tbody {
    background-color: #1cf;
    width: 100%;
}

.cart tfoot {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.cart thead tr,
.cart tbody tr,
.cart tfoot tr {
    display: flex;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.cart tfoot tr {
    gap: 2rem;
    padding: 2rem 4rem;
}

.cart tbody tr td,
.cart thead tr th {
    flex-basis: 20%;
}

.cart thead tr th {
    font-size: 1.5rem;
}

.cart tbody tr td {
    font-size: 1.3rem;
}

.cart tbody tr:nth-child(even) {
    background-color: rgb(188, 217, 243);
}

.cart tbody tr:nth-child(odd) {
    background-color: rgb(152, 164, 173);
}

.cart tfoot tr td {
    font-size: 1.5rem;
    font-weight: bold;
}

.imgCarrito {
    object-fit: contain;
    height: 5rem;
}

.ImgContainer__picture {
    background: #ffffff83;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.2rem;
    height: 6rem;
}

.ImgContainer {
    display: flex;
    justify-content: center;
}

.emptyCartContainer {
    display: grid;
    place-items: center;
    min-height: 70vh;
    width: 100%;
}

.emptyCart {
    display: block;
    height: 10rem;
    margin: auto;
}

.buyButton {
    font-size: 1.2rem;
}

.removeItemImg,
.removeCartImg {
    height: 5rem;
}

.removeItemButton,
.removeCartButton {
    background: transparent;
    border: transparent;
}