.cart {
    max-width: 100%;
    display: grid;
    border-collapse: collapse;
    margin: .5rem;
}

.cart thead,
.cart tbody {
    background-color: #1cf;
    width: 100%;
}

.cart thead tr,
.cart tbody tr,
.cart tfoot tr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.cart tbody tr td,
.cart thead tr th {
    flex-basis: 20%;
}

.cart thead tr th {
    font-size: 1.5rem;
}

.cart tbody tr td {
    font-size: 1.3rem;
}


.cart tbody tr:nth-child(even) {
    background-color: rgb(188, 217, 243);
}

.cart tbody tr:nth-child(odd) {
    background-color: rgb(152, 164, 173);
}

.cart tfoot tr td {
    font-size: 1.5rem;
    font-weight: bold;
}

.imgCarrito {
    object-fit: contain;
    height: 5rem;
}

.ImgContainer__picture {
    background: #ffffff83;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.2rem;
    height: 6rem;
}

.ImgContainer {
    display: flex;
    justify-content: center;
}