.imgCard {
    height: 5rem;
    width: 5rem;
    object-fit: contain;
}
.ContenedorProductos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
    min-height: 40vh;
}
.texto{
    text-align: center;
    background-color: rgb(234, 235, 241);
}
.card{
    height: 12rem;
    width: 8rem;
}
.contendorImg{
    display: flex;
    justify-content: center;
}